$breakpoints: (
  "full": 1920px,
  "xl": 1680px,
  "macbook": 1440px,
  "ipad-pro": 1366px,
  "md-desktop": 1200px,
  "desktop": 1024px,
  "tablet": 768px,
  "phone": 667px,
  "md-phone": 568px,
  "sm-phone": 480px,
  "xs-phone": 375px
);

$media-expressions: (
  "iphoneX":
    "(min-width: 812px) and (max-height: 414px) and (orientation: landscape)",
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

$white: #FFFFFF;
$black: #000000;
$dark: #152733;
$blue: #0093FF;
$grey: #a5a9ac;

$base-main-font: 'Montserrat';
$base-font-sans-serif: "Helvetica Neue", "Helvetica", sans-serif;
$base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
$base-font: $base-main-font, $base-font-sans-serif;
$accent-font: $base-font;

$headings: (
  "default": (3.5rem, 2.8rem, 2.2rem, 2rem, 17px, 16px),
  "tablet": (25px, 23px, 20px, 18px, 17px, 16px)
);